.nav-container, .nav-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-container ul li  {
  list-style: none;
}

.nav-container ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-container ul li a:hover {
  opacity: 0.5;
}